Adafruit-Blinka==9.1.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-bme280==2.6.32
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
blinker==1.9.0
click==8.4.1
contourpy==1.3.3
cycler==0.12.1
Flask==3.1.3
fonttools==4.63.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.11.0
numpy==2.4.6
packaging==26.2
pillow==12.2.0
pyftdi==0.57.2
pyparsing==3.3.2
pyserial==3.5
python-dateutil==2.9.0.post0
pyusb==1.3.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
six==1.17.0
sysv_ipc==1.2.0
typing_extensions==4.15.0
Werkzeug==3.1.8
